body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafffa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cardProduit{
  border: 1px solid green;
  width: 300px;
}

.cardProduit img{
  border: 1px solid green;
  max-height:250px;
  max-width: 290px;
}

.detailProduit img{
  border: 1px solid green;
  max-height:500px;
  max-width: 500px;
}

nav .navbar-brand{
  color: #28a745;
}

.nav-pills .nav-link.active{
  background-color: #28a745;
}

.cat-link{
  cursor: pointer;
}

.cat-link:hover{
  background-color: #82eb9b;
}

.panier i{
  position: relative;
}

.panier span{
  position: absolute;
  bottom: -5px;
  right: -5px;
  font-size: 14px;
}

.disconnect{
  cursor: pointer;
}

.input-qte{
  width: 100px !important;
  text-align: center;
}

.table-panier td{
  display: table-cell;
  vertical-align: middle !important;
}

.table-panier img{
  width:100px;
}